xsd/fednow/sup_FedNowParticipantFile_admi_998_001_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Message name: admi.998.001.02
URL: https://www2.swift.com/mystandards/#/mx/admi.998.001.02
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:08+00:00
ISO 20022 version : 2004
-->
<!---->
<xs:schema xmlns="urn:fed:xsd:admi.998.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:fed:xsd:admi.998.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="admi998SuplDataV01" type="admi998SuplDataV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FedNowParticipantFile1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedNowParticipantFile1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is the FedNow participant file and contains the FedNow Service funds-transfer business day and the FedNow participants with their FedNow Service profile.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BizDay" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business Day</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is the FedNow funds-transfer business day for which the FedNow participant file is sent. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PtcptPrfl" type="FedNowParticipantProfile1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParticipantProfile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is the participant profile of the FedNow participant and contains the participant's identification, name and the FedNow services the participant has enrolled for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FedNowParticipantProfile1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedNowParticipantProfile1</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is the routing number of the FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is the name of the FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Svcs" type="Services_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Services</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This specifies the FedNow services the FedNow participant has enrolled for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RoutingNumber_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a routing number used by the Service participant in connection with the message.&#13;
                &#13;
                Note: This may be a master account routing number or a subaccount routing number. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Services_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Services_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the FedNow services a FedNow participant has enrolled for.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTSR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditTransferSendReceive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This indicates a FedNow participant is enabled to send and receive customer credit transfer messages.&#13;
                        &#13;
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTRO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditTransferReceiveOnly</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This indicates a FedNow participant is enabled to receive but not send customer credit transfer messages.&#13;
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RFPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestForPaymentReceive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This indicates a FedNow participant is enabled to receive request for payment messages.&#13;
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="admi998SuplDataV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">admi998SuplDataV01</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtcptFile" type="FedNowParticipantFile1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParticipantFile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is the FedNow participant file and contains the FedNow Service funds-transfer business day and the FedNow participants with their FedNow Service profile.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
