xsd/FedNowParticipantFile_admi_998_001_02_20250730_1500.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

S.W.I.F.T. SC © 2025. All rights reserved.

This schema is a component of MyStandards, the Swift collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with S.W.I.F.T. SC, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. Swift does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of Swift or its 
licensors.

Trademarks and Patents
Swift is the trade name of S.W.I.F.T. SC.
The following are registered trademarks of Swift: 3SKey, Innotribe, MyStandards, Sibos, Swift, SwiftNet, Swift Institute, the Standards Forum logo, the Swiftlogo, Swift GPI with logo, the Swift GPI logo, and UETR.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1 - Edition 08/06/2024 (LIVE)
Usage Guideline: FedNowParticipantFile_admi.998.001.02
Base Message: admi.998.001.02
Date of publication: 06 August 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_rz7AKZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

A FedNow participant file is the message the FedNow Service sends to provide FedNow participants with a list of all FedNow participants and the FedNow services they are enrolled for. 

FedNow Service Usage

The FedNow Service will send the participant file to all FedNow participants on an unsolicited basis after the close of the FedNow funds-transfer business day. FedNow participants cannot solicit a participant file during the business day.

Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2025-07-30T15:00:23Z
-->
<!---->
<xs:schema xmlns="urn:swift:xsd:admi.998.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:admi.998.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdministrationProprietaryMessageV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdministrationProprietaryMessageV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">It is used by financial institutions, with their own offices, or with other financial institutions with which they have established bilateral agreements. It is used as an envelope for a specified message included in it.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PrtryData" type="ProprietaryData5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business content of this element is not specified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AdmstnPrtryMsg" type="AdministrationProprietaryMessageV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryData5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryData5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Container for proprietary information. Business content of this element is not specified.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the proprietary document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Data" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the proprietary message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
