xsd/FedNow_Service_Release_1-_Edition_08_06_2024_LIV_ParticipantPaymentStatus_pacs_002_001_10_20241122_1718_iso15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1 - Edition 08/06/2024 (LIVE)
Usage Guideline: ParticipantPaymentStatus_pacs.002.001.10
Base Message: pacs.002.001.10
Date of publication: 06 August 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_rz7ASZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope 

A payment status report is the message a FedNow participant sends to inform the FedNow Service or a FedNow participant about the processing status of a previously received payment instruction.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-11-20T20:45:56+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.10">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"/>
            <xs:element name="MmbId" type="RoutingNumber_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact4__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element name="PrefrdMtd" type="PreferredContactMethod1Code__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USABA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentTransactionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FIToFIPaymentStatusReportV10">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader91__1"/>
            <xs:element name="TxInfAndSts" type="PaymentTransaction110__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader91__1">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification_FedNow_1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageIdentification_FedNow_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,8}[a-zA-Z0-9]{9,9}[a-zA-Z0-9]{1,18}"/>
            <xs:minLength value="18"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalGroupInformation29__1">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="Max35Text"/>
            <xs:element name="OrgnlMsgNmId" type="MessageNameIdentification_FRS_1"/>
            <xs:element name="OrgnlCreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice__1">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29__1"/>
            <xs:element name="PrvtId" type="PersonIdentification13__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__1">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransaction110__1">
        <xs:sequence>
            <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation29__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlEndToEndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlUETR" type="UUIDv4Identifier"/>
            <xs:element name="TxSts" type="ExternalPaymentTransactionStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsnInf" type="StatusReasonInformation12__1"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PreferredContactMethod1Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusReason6Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusReasonInformation12__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification135__1"/>
            <xs:element name="Rsn" type="StatusReason6Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
