xsd/FedNow_Service_Release_1-_Edition_08_06_2024_LIV_AccountDebitCreditNotification_camt_054_001_08_20241122_1718_iso15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1 - Edition 08/06/2024 (LIVE)
Usage Guideline: AccountDebitCreditNotification_camt.054.001.08
Base Message: camt.054.001.08
Date of publication: 06 August 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_qR07TZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

An account debit credit notification is the message the FedNow Service uses to provide a FedNow correspondent with real-time notice of a value message that was processed and settled by the FedNow Service for a FedNow participant that is a respondent of the correspondent (or in rarer cases a respondent of the correspondent bank’s respondent). 
 
FedNow Service Usage

The account debit credit notification may be used by FedNow correspondents for reconciliation purposes. 

The FedNow Service will send account debit credit notifications on an opt-in basis, i.e., financial institutions providing correspondent services will need to sign up to receive this notice of their respondent(s)’s payments.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-11-20T20:45:54+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.054.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.054.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountNotification17__1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Acct" type="CashAccount39__1"/>
            <xs:element name="Ntry" type="ReportEntry10__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedNow_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADCN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_FedNow_1_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_FedNow_1">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_FedNow_1_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode_fixed" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="BankToCustomerDebitCreditNotificationV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1"/>
            <xs:element name="Ntfctn" type="AccountNotification17__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BankTransactionCode_FedNow_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DBIT"/>
            <xs:enumeration value="CRDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"/>
            <xs:element name="MmbId" type="RoutingNumber_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryDetails9__1">
        <xs:sequence>
            <xs:element name="TxDtls" type="EntryTransaction10__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStatus1Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="ExternalEntryStatus1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntryTransaction10__1">
        <xs:sequence>
            <xs:element name="Refs" type="TransactionReferences6__1"/>
            <xs:element name="RltdAgts" type="TransactionAgents5__1"/>
            <xs:element name="LclInstrm" type="LocalInstrument2Choice__1"/>
            <xs:element name="RltdDts" type="TransactionDates3__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USABA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:sequence>
            <xs:element name="MsgId" type="AccountReporting_FedNow_1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="MsgPgntn" type="Pagination1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="LocalInstrument2Choice__1">
        <xs:choice>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification2__1">
        <xs:sequence>
            <xs:element name="MsgNmId" type="MessageNameIdentification_FRS_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryAgent4__1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text_fixed"/>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:sequence>
            <xs:element name="Cd" type="BankTransactionCode_FedNow_1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry10__1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount_FedNow_1"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Sts" type="EntryStatus1Choice__1"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1"/>
            <xs:element name="AddtlInfInd" type="MessageIdentification2__1"/>
            <xs:element name="NtryDtls" type="EntryDetails9__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionAgents5__1">
        <xs:sequence>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element name="Prtry" type="ProprietaryAgent4__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDates3__1">
        <xs:sequence>
            <xs:element name="AccptncDtTm" type="ISODateTime"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6__1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
